# Virtual environment
venv/
.venv/
env/
ENV/
.conda/

# Database
app.db
*.db

# Dependencies
node_modules/
frontend/node_modules/
backend/venv/
.env

# Next.js Build Files
frontend/.next/
frontend/out/
build/

# IDE
.vscode/
.idea/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Env file
.env